.footer {
  background-color: #f0f0f0;
  color: #808080;
  text-align: center;
  justify-content: center;
  font-size: 10px;
  position: absolute; /* 絶対配置 */
  bottom: 0; /* 親要素の下端からの距離を0にする */
  left: 0; /* 親要素の左端からの距離を0にする */
  width: 100%; /* 親要素の幅いっぱいに広げる */
  height: 30px;
}













.MigiSita{
    position: absolute;
    top: 677px;
    left: 336px;
    display: none;
}


.MigiSita2{
    position: absolute;
    top: 696px;
    left: 256px;
    display: none;
}


.MigiSita3{
    position: absolute;
    top: 696px;
    left: 82px;
    display: none;
}



.MigiSita4{
    position: absolute;
    top: 696px;
    left: 0px;
    display: none;
}


.MigiSita5{
    position: absolute;
    top: 696px;
    left: 169px;
    display: none;
}



.MigiSita img{
    border-radius: 0%;
}





.MigiSita div{
    color: white;
    text-align: center;
}





.MigiSita2 div{
    color: white;
    text-align: center;
}






.MigiSita3 div{
    color: white;
    text-align: center;
}




.MigiSita4 div{
    color: white;
    text-align: center;
}









